/* ESTILOS GENERALES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-decoration: none;
}
 
/* HEADER */


body{
	overflow-x: hidden;
    background-color: 	#2c3e50

}
.header {
	background-color: #1f2d3a;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/* position: fixed;
     right: 0;
     left: 0;
     top: 0; */
}

.header__logoContainer {
	display: flex;
	width: 40%;
	align-items: center;
}

.logoContainer__img {
	width: 40px;
	height: 30px;
}

.main__container {
	margin-top: 100px;
}

.searchTitle__title {
	margin-left: 5px;
}

.searchTitle__icon {
	width: 10px;
}

.searchTitle__input {
	width: 80%;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 10px;
}
.searchTitle__input::placeholder {
	font-size: 12px;
}

.searchTitle__input:focus {
	font-size: 12px;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__navList {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.header__navList > li {
	padding: 5px;
}

.header__navList > li > a {
	color: white;
}

/* main */

.minhe{
	min-height: 100vh;
}


.mainAdmin {
	background-color: #2c3e50;
	color: white;
	 min-height: 100vh; 
}

.mainAdmin__title {
	padding-top: 10px;
	text-transform: uppercase;
	font-weight: 500;
	text-align: center;
	color:white;
}

.mainAdmin__form {
	display: flex;
	flex-direction: column;
	padding: 20px;
position: relative;
	color: white;
	font-weight: 400;
}

 
.mainAdmin__container > select {
	border: 0.5px solid #6487a9bb;
    background-color: transparent;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 100%;
    padding-left: 30px;
    margin: 15px 0;
    border-radius: 4px;
}

.mainAdmin__container > select,.mainAdmin_select--score:focus{
    background-color: #2C3E50;
outline: none;
}


.mainAdmin__container > input:focus {
	border: 0.5px solid #2981d8ec;

    outline: none;
}

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

  input::placeholder {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.61);
	
}

.mainAdmin__container {
	margin: 10px 0;
	display: flex;
	flex-direction: column;
	max-width: 400px;
}

.mainAdmin__subtitle {
	color: #6486A9;
	margin-top: 10px;
}

.mainAdmin__container--borderOut > input {
	border: 0.5px solid #6487a9bb;
    background-color: transparent;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 100%;
    padding-left: 30px;
     
    border-radius: 4px;
 
}
.mainAdmin_select--score{
	border: 0.5px solid #6487a9bb;
    background-color: transparent;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 100%;
    padding-left: 30px;
    margin: 15px 0;
    border-radius: 4px;
}
 

#photo {
	background-color: transparent;
	color: white;
	font-size: 10px;
}

.mainAdmin__submit {
	padding: 12px;
	background-color: #6486A9;
	border: 0;
	outline: 0;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 20px;
	border-radius:5px;
}

.mainAdmin__textarea{
	width: 100%;
}

.mainAdmin__textarea > label{
	display: block;
}

.mainAdmin__textarea > input {
	border: 0.5px solid #6487a9bb;
    background-color: transparent;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 100%;
    padding-left: 30px;
    margin: 15px 0;
    border-radius: 4px;
}

.mainAdmin__textarea > textarea {
	width: 100%;
	padding: 1rem;
	font-size: 18px;
	resize: none;
	/* margin: 10px; */
}

/* form */

.mainAdmin__form{
	margin: 0 auto;
}

/* footer */

.footer {
	background-color: #1f2d3a;
	font-size: 14px;
	display: flex;
	justify-content: space-evenly;
	color: white;

	height: 50px;
}

.footer__copy {
	font-size: 10px;
	align-self: center;
	color: rgba(255, 255, 255, 0.5);
}

.footer__nav {
	display: flex;
	align-items: center;
}

.footer__links {
	display: flex;
}

.footer__links > li {
	padding: 5px;
}

/* admin update styles */

.mainAdmin__containerSearch > form {
	padding-top: 100px;
	width: 170px;
	margin: 0 auto;
}
.mainAdmin__containerSearch input,
.mainAdmin__containerSearch label {
	display: block;
	margin: 20px 0;
	color: black;
	font-weight: 900;
}

.mainAdmin__containerSearch button {
	padding: 5px;
	border: 0;
	outline: 0;
	background-color: #1f2d3a;
	color: white;
}


.mainAdmin__red{
	background-color: rgb(230, 31, 31);
margin: 0;
max-width: 320px;
}

/* user active styles */




.header_userImage{
	 
	margin-left: 10px;
	 
}

.header_floatmenu{
	position: absolute;
    top: 65px;
    font-size: 16px;
    width: 200px;
    /* left: 0; */
    display: none;
    flex-direction: column;
    background: #1f2d3a;
    padding: 20px;
    right: -200px;
    z-index: 100;
	transition: right .5s;
}
.header_floatmenu.showMenu{
	animation: showMenu .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	display: flex;
	right: 0;

}
 
@keyframes showMenu {
	from{
		right: -200px;
	}
	to{
		right: 0;
	}
}
.header_floatmenu-item {
    margin: 10px 0;
	color: #ff5252;

}

.header_containerfloat{
	display: flex;
	align-items: center;
}
 

 /* MESSAGES PAGES */


.messagesContainer{
	margin: 50px 0;
}
.messagesContainer__data{
	display: inline-block;
	position: relative;
}

.messagesContainer__delete{
	position: absolute;
	right: 0;
	bottom: 0;
	padding: 5px;
	color: white;
	border-radius: 3px;
}

/* *********************edit form search admin styles ***********************/

.mainAdminContainerForm{
	margin: 20px auto;
	padding: 20px;
	 
}
.mainAdminContainerForm  input{
	border: .5px solid #6487a9bb;
	padding: 15px;
	background-color: transparent;
	margin-top: 5px;
	font-weight: 400;
	text-transform: uppercase;
	color: white;
}

 


.mainAdminContainerForm  input:focus{
	/* border: none; */
	outline: none;
}

.maindAdmin__containerUpdated{
	display: flex;
	flex-direction: column;
	/* padding: 20px; */
	max-width: 400px;
	 
	 
}

.mainAdmin__labelUpdate{
	margin: 10px 0;
}

.mainAdminContainerForm__button{
	padding: 15px;
	color: white;
	background-color: #6486A9;
	border-radius: 5px;
	margin: 30px 0;
	border: 0;
	outline: 0;
	cursor: pointer;
	box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.mainAdminContainerUsers{
	background-color: #1f2d3a;
	padding: 10px;
	border-radius: 8px;
	max-height: 300px;
	overflow-x: hidden;
	max-width: 600px;
}
.mainAdminUser{
	font-size: 14px;
	margin: 10px 0;
	background-color: #283f5381;
	padding: 5px;
	border-radius: 5px;
position: relative;

}
.mainAdminUser__text{
	margin: 5px 0;
	color: #6486A9;
}
.mainAdminUser__text > i{
	 
	color: rgb(238, 204, 204);
}
.maindAdminUser__button{
	color: white;
	background-color: #6486A9;
	padding: 4px;
	border-radius: 2px;
	 
	position: absolute;
	top: 6px;
	right: 6px;
}


.mainAdmin__block{
	max-width: 400px;
}
/* MEDIAS QUERIES */

@media (min-width: 680px) {
	/* form search update admin styles */
.mainAdminContainerForm{
	display: flex;
	justify-content: space-evenly;
	 max-width: 1100px;
	 margin: 0 auto;
}

.mainAdminContainerForm > form{
	flex-grow: 1;
}
.mainAdminContainerUsers{
	margin-left: 10px;
	flex-grow: 3;
	max-height: 500px;
	scrollbar-width: thin;
	scrollbar-color: yellow;

}
.mainAdminContainerUsers::-webkit-scrollbar{
	background-color: #1f2d3a;
	width: 5px;
}
.mainAdminContainerUsers::-webkit-scrollbar-thumb{
	background: #ff5252;
	 border-radius: 8px;
}

.maindAdminUser__button{
	text-align: center;
	width: 100px;
	padding: 8px;
}

	/******  HEADER  *****/

	.header__navList>li>a:hover{
		color:#d15050 ;
	}

	.header__nav {
		width: 70%;
	}
	.header__navList {
		width: 100%;
		justify-content: space-evenly;
		font-size: 14px;
	}
	
	/* desplegable menu */

	.header_containerfloat {
		position: relative;
		z-index: 10;
	}
	.header_containerfloat a {
		display: block;
		color: #ff5252;

		width: 100%;
	}
	.header_floatmenu {
		font-size: 14px;
		/* font-weight: 700; */
		position: absolute;
		display: none;
		background-color: #1f2d3a;
		 top: unset;
		 right: unset;
		padding: 10px;
		border-radius: 0 0 5px 5px;
		min-width: 300px;
		 

	}
	.header_floatmenu-item {
		margin: 10px 0;
	}

	.header_containerfloat:hover .header_floatmenu {
		display: initial;
		animation: show 0.3s forwards ease;
		z-index: -1;
	}

	@keyframes show {
		from {
			 
			top: 0;
		}
		to {
			top: 50%;
			 
		}
	}


	/* ***********  MAIN ********* */
 

	 

	.mainAdmin__subtitle {
		width: 100%;
		margin-left: 40px;
	}

	.mainAdmin__container--photo {
		width: 100%;
	}
	#photo {
		width: 100%;
		font-size: 15px;
	}
	.mainAdmin__submit {
		width: 80%;
		font-size: 18px;
		max-height: 50px;
		cursor: pointer;
	}

	/******  FOOTER  *****/

	.footer__nav {
		width: 70%;
	}

	.footer__links {
		width: 100%;
		justify-content: space-evenly;
		font-size: 16px;
	}
}
@media (min-width: 1024px){
	.mainAdmin__red{
		margin: 0 auto;
		 
	}
 
	.mainAdmin__form {
		max-width: 1024px;
	}

.mainAdmin__block{
	padding: 20px;
	position: absolute;
	top: 44px;
	right: 0;
}
.mainAdmin__blockCreated{
	 
	position: absolute;
	top: 44px;
	right: 0;
}

}