/* estilos generales

-------------primarios------------
- backgound header/footer #1F2D3A 
- backgound body/main #2C3E50 

-------------secundarios------------
-botones #3F549D
-card producto/servicio background #FF5252



tipografia 
-sacar link de index.html, ya tiene las fuentes importadas de google fonts


font-family: 'Roboto', sans-serif;

color: #ffffff white

font-size : h2 h3 16px
font-size : p a li nav  14px


*/

/* ESTILOS GENERALES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
	
	
}

 
body{
  overflow-y: hidden;
	background-color: #2c3e50;

}
 
.errorcontainer{
  position: relative;
  height: 100vh;

}

.errorcontainer__img{
	position: absolute;
	left:50%;
	top: 50%;
	 max-width: 300px;
	transform: translate(-50%,-50%);
}
.errorcontainer__message{
	text-align: center;
	color: white;
	margin-bottom: 50px;
}

.errorcontainer__return{
	width: 100%;
    background-color: #6486A9;
    color: white;
    padding: 10px;
    border-radius:5px;
    margin:10px;
    font-size: 20px;
	display: block;
	text-align: center;
}



.error404{

  width: 100%;
  
}



.errortitle{
  text-align: center;
  margin: 20px;
  color: #e71f1f;
  font-weight: 700;
}
 

/* header */

 
.header {
	background-color: #1f2d3a;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/* position: fixed;
     right: 0;
     left: 0;
     top: 0; */
}

.header__logoContainer {
	display: flex;
	width: 40%;
	align-items: center;
}

.logoContainer__img {
	width: 40px;
	height: 30px;
}

.main__container {
	margin-top: 100px;
}

.searchTitle__title {
	margin-left: 5px;
}

.searchTitle__icon {
	width: 10px;
}

.searchTitle__input {
	width: 80%;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 10px;
}
.searchTitle__input::placeholder {
	font-size: 12px;
}

.searchTitle__input:focus {
	font-size: 12px;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__navList {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.header__navList > li {
	padding: 5px;
}

.header__navList > li > a {
	color: white;
}

/* MAIN */
 
 

/* user active styles */


.header_userImage{
	
	margin-left: 10px;
	
}

.header_floatmenu{
	display: none;
}

.header_containerfloat{
	display: flex;
	align-items: center;
}
/* MEDIAS QUERIES */

/* MEDIAS QUERIES */

@media (min-width: 680px) {
	/* form search update admin styles */
.mainAdminContainerForm{
	display: flex;
	justify-content: space-evenly;
	 max-width: 1100px;
	 margin: 0 auto;
}

.mainAdminContainerForm > form{
	flex-grow: 1;
}
.mainAdminContainerUsers{
	margin-left: 10px;
	flex-grow: 3;
	max-height: 500px;
	scrollbar-width: thin;
	scrollbar-color: yellow;

}
.mainAdminContainerUsers::-webkit-scrollbar{
	background-color: #1f2d3a;
	width: 5px;
}
.mainAdminContainerUsers::-webkit-scrollbar-thumb{
	background: #ff5252;
	 border-radius: 8px;
}


	/******  HEADER  *****/

	.header__navList>li>a:hover{
		color:#d15050 ;
	}

	.header__nav {
		width: 70%;
	}
	.header__navList {
		width: 100%;
		justify-content: space-evenly;
		font-size: 14px;
	}
	
	/* desplegable menu */

	.header_containerfloat {
		position: relative;
		z-index: 10;
	}
	.header_containerfloat a {
		display: block;
		color: #ff5252;

		width: 100%;
	}
	.header_floatmenu {
		font-size: 14px;
		font-weight: 700;
		position: absolute;
		display: none;
		background-color: #1f2d3a;
		padding: 10px;
		border-radius: 0 0 5px 5px;
		min-width: 300px;

	}
	.header_floatmenu-item {
		margin: 10px 0;
	}

	.header_containerfloat:hover .header_floatmenu {
		display: initial;
		animation: show 0.3s forwards ease;
		z-index: -1;
	}

	@keyframes show {
		from {
			 
			top: 0;
		}
		to {
			top: 50%;
			 
		}
	}

 

 
}