
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-decoration: none;
}

html {
	scroll-behavior: smooth;
}


/* HEADER */

.header {
	background-color: #1f2d3a;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	position: sticky;
	right: 0;
	left: 0;
	top: 0;
	z-index: 100;
}

.header__logoContainer {
	display: flex;
	width: 40%;
	align-items: center;
}

.logoContainer__img {
	width: 40px;
	height: 30px;
}

.searchTitle__title {
	margin-left: 5px;
}

.searchTitle__icon {
	width: 10px;
}

.searchTitle__input {
	width: 80%;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 10px;
}
.searchTitle__input::placeholder {
	font-size: 12px;
}

.searchTitle__input:focus {
	font-size: 12px;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__navList {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.header__navList > li {
	padding: 5px;
}

.header__navList > li > a {
	color: white;
}


/* MAIN
*/

main{
	background-color:#2C3E50;
	position: relative;
     /* height: 100vh; */
     overflow-x: hidden;

}

.title{
	display: flex;
	flex-wrap: wrap;
	position: static;
	margin: 3% 10%;
	padding: 5%;
	background-color: white;
	align-content: center;
	justify-content: center;
	text-align: center;
	border-radius: 20px;
    font-weight: bold;
}

.title h1{
	width: 100%;
	color: #6486A9;
}
.title p{
	width: 100%;
	margin-top: 2%;
	color: #888888;
}

.container{
	display: flex;
	flex-wrap: wrap;
	position: static;
	margin: 3% 10%;
	padding: 10px;
	background-color: white;
	align-content: center;
	/* justify-content: center; */
	/* text-align: center; */
	border-radius: 20px;
	font-weight: bold;
	box-shadow: 3px 3px 5px    rgba(169, 169, 169, 0.589);
}
.container-title{
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	width: 100%;
	border-bottom: 1px solid black;
}
.title-question{
	margin: 2% 2%;
	color: #6486A9;
}

i {
	margin: 2% 2%;
	color: #6486A9;

}

.answer{
	display: flex;
	flex-wrap: wrap;
	/* justify-content: center; */
	/* align-items: center; */
	color: darkgray;
}

.answer:hover{
	box-shadow: -5px 5px 5px rgb(182, 181, 181);
}

.answer h4{
	margin: 2% 2%;
}


.answer li{
	width: 100%;
	margin: 2% 2%;
}

a{
	color: white;
}

/* FOOTER
*/

.footer {
	background-color: #1f2d3a;
	font-size: 14px;
	display: flex;
	justify-content: space-evenly;
	color: white;

	height: 50px;
}

.footer__copy {
	font-size: 10px;
	align-self: center;
	color: rgba(255, 255, 255, 0.5);
}

.footer__nav {
	display: flex;
	align-items: center;
}

.footer__links {
	display: flex;
}

.footer__links > li {
	padding: 5px;
}

/* user active styles */

.header_userImage{
	 
	margin-left: 10px;
	 
}

.header_floatmenu{
	display: none;
}

.header_containerfloat{
	display: flex;
	align-items: center;
}

/* MEDIAS QUERIES */

@media (min-width: 960px) {
	/******  HEADER  *****/

	.header__navList>li>a:hover{
		color:#d15050 ;
	}

	.header__nav {
		width: 70%;
	}
	.header__navList {
		width: 100%;
		justify-content: space-evenly;
		font-size: 14px;
	}
	
	/* desplegable menu */

	.header_containerfloat {
		position: relative;
		z-index: 10;
	}
	.header_containerfloat a {
		display: block;
		color: #ff5252;
		 
		width: 100%;
	}
	.header_floatmenu {
		font-size: 14px;
		font-weight: 700;
		position: absolute;
		display: none;
		background-color: #1f2d3a;
		 
		padding: 10px;
		border-radius: 0 0 5px 5px;
		min-width: 300px;
		 

	}
	.header_floatmenu-item {
		margin: 10px 0;
	}

	.header_containerfloat:hover .header_floatmenu {
		display: initial;
		animation: show 0.3s forwards ease;
		z-index: -1;
	}

	@keyframes show {
		from {
			 
			top: 0;
		}
		to {
			top: 50%;
			 
		}
	}

	/* ***********  MAIN ********* */
	.main__title {
		font-size: 48px;
		text-align: center;
	}

	.categories {
		max-width: 80%;
		margin: 0 auto;
		font-size: 16px;
	}

	.categories__category {
		width: 20%;
	}

	.main_select {
		width: 60%;
	}

	.main__container {
		height: 100vh;
	}
	.main__reference {
		display: block;
		width: 50%;
		margin: 10px auto;
		font-size: 18px;
		padding: 15px;
	}

	.main__reference:hover {
		background-color: #e71f1f;
	}

	.main__recomendedImage {
		width: 200px;
		height: 200px;
	}

	.main__recomendedCard {
		padding: 20px;
		border: 1px solid #1f2d3a;
		border-radius: 10px;
	}
	.main__recomendedCard:hover {
		background-color: #2f4457;
		animation: scale 0.5s ease forwards;
	}

	@keyframes scale {
		from {
			transform: scale(1);
		}
		to {
			transform: scale(1.04);
		}


	}

	/******  FOOTER  *****/

	.footer__nav {
		width: 70%;
	}

	.footer__links {
		width: 100%;
		justify-content: space-evenly;
		font-size: 16px;
	}
}

 