*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}


body{
	overflow-x: hidden;

}
 

 

.header{
    background-color: #1F2D3A ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header__logoContainer{
    display: flex;
    width: 40%;
    align-items: center;
}

.logoContainer__img{
    width: 40px;
    height: 30px;
     
}

.searchTitle__title{
    margin-left: 5px;
}

.searchTitle__icon{
    width: 10px;

}

.searchTitle__input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
}
.searchTitle__input::placeholder{
    font-size: 12px;
}


.searchTitle__input:focus{
    font-size: 12px;
    
}




.header__nav{
    display: flex;
    align-items: center;
}


.header__navList{
    display: flex;
    font-size: 12px;
    align-items: center;
}

 

.header__navList > li {
    padding: 5px;
     
   
}

.header__navList > li > a {
    color: white;
}  

/*
BODY

*/

.container-lender{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: #2C3E50;
    padding: 20px;
    min-height: 100vh;
}

.container-lender-top{
   margin-left: 25px;
   font-size: 1.5rem;
   color: white;
   font-weight: 400;
   width: 100%;
   display: flex;
   align-items: center;
}

.container-lender-top-img{
    width: 50px;
    margin-right: 10px;
}


 
 


.container-lender-body-1{
    display: flex;
    flex-direction: column;
    margin: 25px 10px;
  position: relative;
    align-items: center;
     padding: 15px;
     border: 1px solid #1F2D3A;
     border-radius: 10px;
     box-shadow: 1px 1px 1px #1F2D3A;
     align-self: flex-start;
    
}
 



.container-lender-body-1-photo{
    max-width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin: 10px 0;
}

.container-lender-body-1-text{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
    
    font-size: 15px;
    color: white;
    margin: 10px 0;

}

.stars-contact{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.stars{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}


 .container-prince{
     position: absolute;
     top: 5px;
     right: 5px;
     color:darkgray ;
     font-size: 18px;
 }

 

.container-lender-buttom{
    color: white;
    background-color:#ff5252 ;
    width: 70%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border-radius: 4px;
    margin: 10px 0;

}

/*---------------------- score style ---------------------*/

.score{
    opacity: .5;
    color: #888888;
}
 .score.activeScore{
     color: yellow;
     opacity: 1;
 }
 


/*
footer
*/

.footer{
    background-color: #1F2D3A;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    color: white;

    height: 50px;
}

.footer__copy{
    font-size: 10px;
    align-self: center;
    color: rgba(255, 255, 255,0.5);
}

.footer__nav{
    display: flex;
    align-items: center;
}

 

.footer__links{
    display: flex;
     
}

.footer__links > li{
    padding: 5px;
}

/* user active styles */

.header_userImage{
	 
	margin-left: 10px;
}

/*float menu */


.header_floatmenu{
	position: absolute;
    top: 65px;
    font-size: 16px;
    width: 200px;
    /* left: 0; */
    display: none;
    flex-direction: column;
    background: #1f2d3a;
    padding: 20px;
    right: -200px;
    z-index: 100;
	transition: right .5s;
}
.header_floatmenu.showMenu{
	animation: showMenu .5s cubic-bezier(0.68, -0.55, 0.27, 1.55);
	display: flex;
	right: 0;

}
 
@keyframes showMenu {
	from{
		right: -200px;
	}
	to{
		right: 0;
	}
}
.header_floatmenu-item {
    margin: 10px 0;
	color: #ff5252;

}
/*float menu */

.header_containerfloat{
	display: flex;
	align-items: center;
}

/* MEDIAS QUERIES */

@media (min-width: 680px){
/******  HEADER  *****/

.header__navList>li>a:hover{
    color:#d15050 ;
}

.header__nav {
    width: 70%;
}
.header__navList {
    width: 100%;
    justify-content: space-evenly;
    font-size: 14px;
}

/* desplegable menu */

.header_containerfloat {
    position: relative;
    z-index: 10;
}
.header_containerfloat a {
    display: block;
    color: #ff5252;

    width: 100%;
}
.header_floatmenu {
    font-size: 14px;
    /* font-weight: 700; */
    position: absolute;
    display: none;
    background-color: #1f2d3a;
     top: unset;
     right: unset;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    min-width: 300px;
     

}
.header_floatmenu-item {
    margin: 10px 0;
}

.header_containerfloat:hover .header_floatmenu {
    display: initial;
    animation: show 0.3s forwards ease;
    z-index: -1;
}

@keyframes show {
    from {
         
        top: 0;
    }
    to {
        top: 50%;
         
    }
}




    .container-lender{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        
         
    }
    .container-lender-top{
        width: 100%;
    }
    .container-lender-body-1 {
        /* flex-direction: row;
        justify-content: space-evenly; */
         width: 300px;
        margin: 25px  ;
       
    }
    .box-lender{
        display: flex;
        flex-wrap: wrap;
        width: 40%;
        justify-content: center;
    }

    .container-lender-body-1:hover{
        background-color: #2f4457;
        animation: scale .5s ease forwards;
    }

    @keyframes scale {
        from{
            transform:scale(1);
        }
        to{
            transform: scale(1.04);
        }
        
    }


}

@media (min-width: 960px) {
	 

	/******  FOOTER  *****/

	.footer__nav {
		width: 70%;
	}

	.footer__links {
		width: 100%;
		justify-content: space-evenly;
		font-size: 16px;
	}
}

@media (min-width: 1200px) {

    
 
}
