
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

/*header*/

.header{
    background-color: #1F2D3A ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header__logoContainer{
    display: flex;
    width: 40%;
    align-items: center;
}

.logoContainer__img{
    width: 40px;
    height: 30px;
     
}

.searchTitle__title{
    margin-left: 5px;
}

.searchTitle__icon{
    width: 10px;

}

.searchTitle__input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
}
.searchTitle__input::placeholder{
    font-size: 12px;
}


.searchTitle__input:focus{
    font-size: 12px;
    
}




.header__nav{
    display: flex;
    align-items: center;
}


.header__navList{
    display: flex;
    font-size: 12px;
      
}

 

.header__navList > li {
    padding: 5px;
     
   
}

.header__navList > li > a {
    color: white;
}  

/* MAIN*/

.container{
    background-color: #2C3E50;

}

.container-lender{
    margin-right: 8%;
    margin-left: 8%;
    border-bottom:5px solid black;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    box-sizing: border-box;
}

.container-lender-general{
    display: flex;
    color: white;
    
    padding-top: 15px;
}

.container-lender-general-link{
    color: white;
    display: inline-block;
}
.container-lender-general-text{
    color: white;
    display: inline-block;
    margin: 0% 2%;
}

.container-lender-detail{
    display: flex;
    justify-content: star;
    align-content: stretch;
    margin-bottom: 15px;
    
}

.container-lender-detail-photo{
    max-width: 50px;
    height: auto;
    
}

.container-lender-detail-text{
    display: flex;
    justify-content: center;
    align-self: flex-end;
    padding-left: 5%;
    color: white;
}

.container-service{
    margin: 3% 8%;
    color: white;


}

.container-service-title{
    font-size: 15px;
}
.container-service-text{
    font-size: 12px;
    margin-bottom: 5px;
}

.buttons{
    display: flex;
    justify-content: space-between;
}

.container-service-button{
    display: inline-block;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 1%;
    margin-top: 2%;
}

.container-service-button:hover{
    background-color: grey;
}



.container-service-button-two{
    display: inline-block;
    border: 0px solid white;
    border-radius: 5px;
    color: white;
    background-color: black;
    padding: 1%;
    margin-top: 2%;
    
}

.container-service-button-two:hover{
    background-color: grey;
}

.container-service-button-two:focus{
    color: #2C3E50;
}

.container-opinions{
    
    margin-right: 8%;
    margin-left: 8%;
    border-top: 5px solid black;
    border-radius: 5px;
    box-sizing: border-box;
    
}

.container-opinions-cajas-{
    display: inline-block;
    max-width: 100%;
}

.container-opinions-cajas-one{
    display: inline-block;
    max-width: 35%;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
    
    
}
.container-opinions-cajas-two{
    display: inline-block;
    max-width: 35%;
    margin-left: 15%;
    margin-bottom: 15px;
    padding: 5px;
    border-radius: 15px;
}



/* FOOTER*/

.footer{
    background-color: #1F2D3A;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    color: white;

    height: 50px;
}

.footer__copy{
    font-size: 10px;
    align-self: center;
    color: rgba(255, 255, 255,0.5);
}

.footer__nav{
    display: flex;
    align-items: center;
}

 

.footer__links{
    display: flex;
     
}

.footer__links > li{
    padding: 5px;
}

/* Responsive
*/

/* Header
*/

@media (min-width: 960px){
    
    .header__nav{
        width: 30%;
         
    }
    .header__navList{
        width: 100%;
        justify-content: space-evenly;
        font-size: 16px;
    }

    /*MAIN
    */

    .container-service{
        display: flex;
    }
    .buttons{
        display: flex;
        flex-direction: column;
    }



    /*Footer
    */
    .footer__nav{
        width: 70%;
         
    }


    .footer__links{
        width: 100%;
        justify-content: space-evenly;
        font-size: 16px;
    }
}