/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}

html {
	scroll-behavior: smooth;
}

body{
	overflow-x: hidden;

}


/* HEADER */

.header{
    background-color: #1F2D3A ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
	right: 0;
	left: 0;
	top: 0;
	z-index: 100;
}

.header__logoContainer{
    display: flex;
    width: 40%;
    align-items: center;
}

.logoContainer__img{
    width: 40px;
    height: 30px;
     
}

.searchTitle__title{
    margin-left: 5px;
}

.searchTitle__icon{
    width: 10px;

}

.searchTitle__input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
}
.searchTitle__input::placeholder{
    font-size: 12px;
}


.searchTitle__input:focus{
    font-size: 12px;
    
}


.header__nav{
    display: flex;
    align-items: center;
}


.header__navList{
    display: flex;
    font-size: 12px;
    align-items: center;
}

 

.header__navList > li {
    padding: 5px;
     
   
}

.header__navList > li > a {
    color: white;
}  



/* MAIN */

.main{
    background-color: #2C3E50;
    padding: 10px;
}

.main__container{
    border-bottom: 4px solid black;
    margin-bottom: 20px;
}

.main__title{
    color: white;
    text-transform: uppercase;
    background-color: transparent;
}

.categories{
    display: flex;
    border-bottom: 4px solid black;
}

.categories__container__button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.categories__container__button_sel{
    border: 1px solid #FF5252;
    border-radius: 3px;
    background-color: #FF5252;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories__container__button_sel:hover{
    background-color: #f3b7b7;
    border: 1px solid #f3b7b7;
}

.categories__container__text {
    display: flex;
    flex-direction: column;
}


.categories__subscriptions{
    color: #6486A9;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.categories__subscriptions__subtitle {
    font-size: 18px;
    margin: 10px;
}

.categories__subscriptions__text {
    font-size: 14px;
    margin: 10px;
    color: darkgray;
}

.categories__subscriptions__text__desde {
    font-size: 16px;
    margin: 10px;
    color: darkgray;
}

.categories__subscriptions__text__precio {
    font-size: 30px;
    margin: 10px;
}

.categories__subscriptions__text__porMes {
    font-size: 16px;
    margin: 10px;
    color: darkgray;
}

.img_plan {
    width: 50%;
    margin: 10px;
}

.button_plan {
    width: 20%;
    background-color: #6486A9;
    color: white;
    padding: 10px;
    border-radius:5px;
    margin:10px;
    font-size: 20px;
    cursor: pointer;
}

.button_plan:hover {
    background-color: #2693ec;
}


.categories__contact{
    display: flex;
    border-bottom: 4px solid black;
    
}

.categories__contact__container__text{
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-bottom:35%;
}

.categories__contact__subscriptions{
    color: #6486A9;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.categories__contact__subscriptions__subtitle{
    font-size: 16px;
    margin: 10px;
}

.categories__contact__subscriptions__form{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.categories__contact__subscriptions__form input{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
    border-radius:5px;
    width: 80%;
}

.button__contact_plan{
    width: 30%;
    background-color: #6486A9;
    color: white;
    padding: 10px;
    border-radius:5px;
    margin:10px;
    font-size: 20px
}



/* footer */

.footer{
    background-color: #1F2D3A;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    color: white;

    height: 50px;
}

.footer__copy{
    font-size: 10px;
    align-self: center;
    color: rgba(255, 255, 255,0.5);
}

.footer__nav{
    display: flex;
    align-items: center;
}

 

.footer__links{
    display: flex;
     
}

.footer__links > li{
    padding: 5px;
}
/* user active styles */

.header_userImage{
	 
	margin-left: 10px;
}

.header_floatmenu{
	display: none;
}

.header_containerfloat{
	display: flex;
	align-items: center;
}



/* --- MEDIA TABLET */
@media (min-width: 768px) {
    
 /******  HEADER  *****/

 .header__navList>li>a:hover{
    color:#d15050 ;
}

.header__nav {
    width: 70%;
}
.header__navList {
    width: 100%;
    justify-content: space-evenly;
    font-size: 14px;
}

/* desplegable menu */

.header_containerfloat {
    position: relative;
    z-index: 10;
}
.header_containerfloat a {
    display: block;
    color: #ff5252;

    width: 100%;
}
.header_floatmenu {
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    display: none;
    background-color: #1f2d3a;
    padding: 10px;
    border-radius: 0 0 5px 5px;
    min-width: 300px;

}
.header_floatmenu-item {
    margin: 10px 0;
}

.header_containerfloat:hover .header_floatmenu {
    display: initial;
    animation: show 0.3s forwards ease;
    z-index: -1;
}
@keyframes show {
    from {
         
        top: 0;
    }
    to {
        top: 50%;
         
    }
}

    /* MAIN */

    .main__title {
        margin: 20px;
    }
    .categories__container__text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .categories__subscriptions {
        margin: 5px;
        width: 30%;
    }

    .categories__subscriptions__subtitle {
        font-size: 16px;
        margin: 10px;
    }
    
    .categories__subscriptions__text {
        font-size: 12px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__desde {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__precio {
        font-size: 24px;
        margin: 10px;
    }
    
    .categories__subscriptions__text__porMes {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .img_plan {
        width: 50%;
        margin: 10px;
    }
    
    .button_plan {
        width: 30%;
        background-color: #6486A9;
        color: white;
        padding: 10px;
        border-radius:5px;
        margin:10px;
        font-size: 14px
    }

    .categories__contact{
        display: flex;
        justify-content: center;
    }

    .categories__contact__container__text{
        margin-top: 10%;
        margin-bottom:25%;
    }
    

        /******  FOOTER  *****/
    

        .footer__nav{
            width: 70%;
             
        }
    
    
        .footer__links{
            width: 100%;
            justify-content: space-evenly;
            font-size: 16px;
        }

    }
    
    /* --- MEDIA DESK */
@media (min-width: 1024px) {
    /* MAIN */

    .categories__container__text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px;

    }

    .categories__subscriptions {
        margin: 5px;
        width: 30%;
    }

    .categories__subscriptions__subtitle {
        font-size: 16px;
        margin: 10px;
    }
    
    .categories__subscriptions__text {
        font-size: 12px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__desde {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__precio {
        font-size: 24px;
        margin: 10px;
    }
    
    .categories__subscriptions__text__porMes {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .img_plan {
        width: 50%;
        margin: 10px;
    }
    
    .button_plan {
        width: 30%;
        background-color: #6486A9;
        color: white;
        padding: 10px;
        border-radius:5px;
        margin:10px;
        font-size: 14px
    }

    .categories__contact__container__text{
        margin-top: 10%;
        margin-bottom:15%;
    }



}