/* ESTILOS GENERALES */

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}



/* HEADER */

.header{
    background-color: #1F2D3A ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header__logoContainer{
    display: flex;
    width: 40%;
    align-items: center;
}

.logoContainer__img{
    width: 40px;
    height: 30px;
     
}

.searchTitle__title{
    margin-left: 5px;
}

.searchTitle__icon{
    width: 10px;

}

.searchTitle__input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
}
.searchTitle__input::placeholder{
    font-size: 12px;
}


.searchTitle__input:focus{
    font-size: 12px;
    
}


.header__nav{
    display: flex;
    align-items: center;
}


.header__navList{
    display: flex;
    font-size: 12px;
      
}

 

.header__navList > li {
    padding: 5px;
     
   
}

.header__navList > li > a {
    color: white;
}  



/* MAIN */

.main{
    background-color: #2C3E50;
    padding: 10px;
}

.main__container{
    border-bottom: 4px solid black;
    margin-bottom: 20px;
}

.main__title{
    color: white;
    text-transform: uppercase;
    background-color: transparent;
}

.categories{
    display: flex;
    border-bottom: 4px solid black;
}

.categories__container__button{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 10px;
}

.categories__container__button_sel{
    border: 1px solid #FF5252;
    border-radius: 3px;
    background-color: #FF5252;
    color: white;
    margin-top: 10px;
    margin-bottom: 10px;
}

.categories__container__button_sel:hover{
    background-color: #f3b7b7;
    border: 1px solid #f3b7b7;
}

.categories__container__text {
    display: flex;
    flex-direction: column;
}


.categories__subscriptions{
    color: #6486A9;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    text-align: center;
}

.categories__subscriptions__subtitle {
    font-size: 18px;
    margin: 10px;
}

.categories__subscriptions__text {
    font-size: 14px;
    margin: 10px;
    color: darkgray;
}

.categories__subscriptions__text__desde {
    font-size: 16px;
    margin: 10px;
    color: darkgray;
}

.categories__subscriptions__text__precio {
    font-size: 30px;
    margin: 10px;
}

.categories__subscriptions__text__porMes {
    font-size: 16px;
    margin: 10px;
    color: darkgray;
}

.img_plan {
    width: 50%;
    margin: 10px;
}

.button_plan {
    width: 20%;
    background-color: #6486A9;
    color: white;
    padding: 10px;
    border-radius:5px;
    margin:10px;
    font-size: 20px
}

.button_plan:hover {
    background-color: #2693ec;
}




/* footer */

.footer{
    background-color: #1F2D3A;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    color: #6486A9;

    height: 50px;
}

.footer__copy{
    font-size: 10px;
    align-self: center;
    color: rgba(255, 255, 255,0.5);
}

.footer__nav{
    display: flex;
    align-items: center;
}

 

.footer__links{
    display: flex;
     
}

.footer__links > li{
    padding: 5px;
}




/* --- MEDIA TABLET */
@media (min-width: 768px) {
    
    /******  HEADER  *****/

    .header__nav{
        width: 30%;
         
    }
    .header__navList{
        width: 100%;
        justify-content: space-evenly;
        font-size: 16px;
    }
    
    
    /* MAIN */

    .main__title {
        margin: 20px;
    }
    .categories__container__text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top: 10px;
        margin-bottom: 20px;
    }

    .categories__subscriptions {
        margin: 5px;
        width: 30%;
    }

    .categories__subscriptions__subtitle {
        font-size: 16px;
        margin: 10px;
    }
    
    .categories__subscriptions__text {
        font-size: 12px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__desde {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__precio {
        font-size: 24px;
        margin: 10px;
    }
    
    .categories__subscriptions__text__porMes {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .img_plan {
        width: 50%;
        margin: 10px;
    }
    
    .button_plan {
        width: 30%;
        background-color: #6486A9;
        color: white;
        padding: 10px;
        border-radius:5px;
        margin:10px;
        font-size: 14px
    }

        /******  FOOTER  *****/
    

        .footer__nav{
            width: 70%;
             
        }
    
    
        .footer__links{
            width: 100%;
            justify-content: space-evenly;
            font-size: 16px;
        }

    /* --- MEDIA DESK */
@media (min-width: 1024px) {
    /* MAIN */

    .categories__container__text {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin: 50px;

    }

    .categories__subscriptions {
        margin: 5px;
        width: 30%;
    }

    .categories__subscriptions__subtitle {
        font-size: 16px;
        margin: 10px;
    }
    
    .categories__subscriptions__text {
        font-size: 12px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__desde {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .categories__subscriptions__text__precio {
        font-size: 24px;
        margin: 10px;
    }
    
    .categories__subscriptions__text__porMes {
        font-size: 14px;
        margin: 10px;
        color: darkgray;
    }
    
    .img_plan {
        width: 50%;
        margin: 10px;
    }
    
    .button_plan {
        width: 30%;
        background-color: #6486A9;
        color: white;
        padding: 10px;
        border-radius:5px;
        margin:10px;
        font-size: 14px
    }



}