*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}


body{
	overflow-x: hidden;

}


/* HEADER */

.header{
    background-color: #1F2D3A ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    position: sticky;
	right: 0;
	left: 0;
	top: 0;
	z-index: 100;
}

.header__logoContainer{
    display: flex;
    width: 40%;
    align-items: center;
}

.logoContainer__img{
    width: 40px;
    height: 30px;
     
}

.searchTitle__title{
    margin-left: 5px;
}

.searchTitle__icon{
    width: 10px;

}

.searchTitle__input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
}
.searchTitle__input::placeholder{
    font-size: 12px;
}


.searchTitle__input:focus{
    font-size: 12px;
    
}




.header__nav{
    display: flex;
    align-items: center;
}


.header__navList{
    display: flex;
    font-size: 12px;
    align-items: center;
}

 
.article-container-form-text{
    color: tomato;
}

.header__navList > li {
    padding: 5px;
     
   
}

.header__navList > li > a {
    color: white;
}  

/*main*/

.article-container-form {
    text-align: center;
}

.article-container-main{
    background-color: #2C3E50 ;
    padding: 10px;
}

/*Parte de los recuadros*/
.article-container-titulo{
    background-color: #2C3E50 ;
    color: white;
    font-weight: lighter;
    font-size: 32px;
    
}

.article-container-informacion{
    background-color:#2C3E50;
    margin-top: 3   0px;
    margin-bottom: 50px;
}

.article-container-input{
    width: 100%;
    margin-top: 20px;
    padding: 15px;
    /*Primer valor: Grueso del borde, segundo valor: el tipo de borde, el tercer valor: color*/
    border: 3px solid black
}


/* BUTTON */

.container-button{
    width: 100%;
    background-color: black;
    color: white;
    /*sirve para transformar el texto*/
    text-transform: uppercase;
    padding: 15px;
    border-radius: 7px;
    margin-top: 20px;
}

/* footer */

.footer{
    background-color: #1F2D3A;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    
    height: 50px;
}

.footer__copy{
    font-size: 10px;
    align-self: center;
    color: rgba(255, 255, 255,0.5);
}

.footer__nav{
    display: flex;
    align-items: center;
}

 

.footer__links{
    display: flex;
     
}

.footer__links > li{
    padding: 5px;
}

/* user active styles */

.header_userImage{
	width: 50px;
	margin-left: 10px;
}

.header_floatmenu{
	display: none;
}

.header_containerfloat{
	display: flex;
	align-items: center;
}

/* REGISTER VALIDATIONS STYLES */

.containerValidation{
    position: relative;
}
.validationMessage{
    position: absolute;
    color: tomato;
    font-size: 12px;
    font-weight: 300;
    margin-top: 2px;
    /* margin-left: 20px; */
}
.validationMessage--i{
    
    margin-right: 5px;
    color: rgb(199, 199, 26);

}


@media (min-width: 960px) {
   /******  HEADER  *****/

	.header__navList>li>a:hover{
		color:#d15050 ;
	}

	.header__nav {
		width: 70%;
	}
	.header__navList {
		width: 100%;
		justify-content: space-evenly;
		font-size: 14px;
	}
	
	/* desplegable menu */

	.header_containerfloat {
		position: relative;
		z-index: 10;
	}
	.header_containerfloat a {
		display: block;
		color: #ff5252;

		width: 100%;
	}
	.header_floatmenu {
		font-size: 14px;
		font-weight: 700;
		position: absolute;
		display: none;
		background-color: #1f2d3a;
		padding: 10px;
		border-radius: 0 0 5px 5px;
		min-width: 300px;

	}
	.header_floatmenu-item {
		margin: 10px 0;
	}

	.header_containerfloat:hover .header_floatmenu {
		display: initial;
		animation: show 0.3s forwards ease;
		z-index: -1;
	}

	@keyframes show {
		from {
			 
			top: 0;
		}
		to {
			top: 50%;
			 
		}
	}



    /* ***********  MAIN ********* */
    .article-container-informacion{
        margin-top: 50px;
        margin-bottom: 150px;
    }
    
    .article-container-form {
        text-align: center;
        margin-left: 200px;
        margin-right: 200px;
    }

   

	.main__title {
        font-size: 48px;
		text-align: center;
	}

	.categories {
		max-width: 100%;
        margin: 0 auto;
        font-size: 16px;
	}

	.main_select {
		width: 100%;
    }

    .article-container-main{
        flex-wrap: wrap;
    }

    .article-container-input{
        width: 100%;
        padding: 20px;
    }

    .container-button{
        width: 100%;
        padding: 20px;
    }

    /******  FOOTER  *****/
    

    .footer__nav{
        width: 70%;
         
    }


    .footer__links{
        width: 100%;
        justify-content: space-evenly;
        font-size: 16px;
    }

    


}


@media (min-width: 1024px) {
    
    .article-container-titulo{
        text-align: center;
    }

    .article-container-form {
        text-align: center;
        margin-left: 35%;
        margin-right: 35%;
    }
}

