/* ESTILOS GENERALES */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: 'Roboto', sans-serif;
	list-style: none;
	text-decoration: none;
}
 
/* HEADER */


body{
	overflow-x: hidden;

}
.header {
	background-color: #1f2d3a;
	color: white;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	/* position: fixed;
     right: 0;
     left: 0;
     top: 0; */
}

.header__logoContainer {
	display: flex;
	width: 40%;
	align-items: center;
}

.logoContainer__img {
	width: 40px;
	height: 30px;
}

.main__container {
	margin-top: 100px;
}

.searchTitle__title {
	margin-left: 5px;
}

.searchTitle__icon {
	width: 10px;
}

.searchTitle__input {
	width: 80%;
	border: none;
	outline: none;
	background-color: transparent;
	color: white;
	font-size: 10px;
}
.searchTitle__input::placeholder {
	font-size: 12px;
}

.searchTitle__input:focus {
	font-size: 12px;
}

.header__nav {
	display: flex;
	align-items: center;
}

.header__navList {
	display: flex;
	font-size: 12px;
	align-items: center;
}

.header__navList > li {
	padding: 5px;
}

.header__navList > li > a {
	color: white;
}

/* main */

.mainAdmin {
	background-color: #2c3e50;
	color: white;
	min-height: 90vh; 
	display: flex;
	flex-direction: column;
}

.mainAdmin_personalImage, .mainAdmin_personalInfo {
	display: flex;
	flex-direction: column;
}

.mainAdmin__avatarImg{
	border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
	align-self: center;
}

.mainAdmin_personalImage_form {
	display: flex;
	flex-direction: column;
	padding: 20px;
	 
	max-width: 350px;
    align-self: center;
}
.mainAdmin__form{
	display: flex;
	flex-direction: column;
	padding: 20px;
 
}

.mainAdmin__title {
	text-transform: uppercase;
    font-weight: 500;
    text-align: center;
    color: white;
    max-width: 400px;
	align-self: center;
}

.mainAdmin__container > input,
.mainAdmin__container > select {
	padding: 5px;
	/* border-radius: 22px; */
	outline: none;
	border: none;
	margin-top: 5px;
	background-color: #eee;
}

 

input[type='number']::-webkit-inner-spin-button {
	-webkit-appearance: none;
}

.mainAdmin__container > input::placeholder {
	font-size: 10px;
}

.mainAdmin__container {
	margin-bottom: 10px;
	display: flex;
	flex-direction: column;
	max-width: 400px;
	position: relative;
}

.mainAdmin__subtitle {
	color: #6486A9;
	margin-top: 10px;
}

.mainAdmin__container--borderOut > input {
	border: 0.5px solid #6487a9bb;
    background-color: transparent;
    font-weight: 400;
    color: white;
    padding: 10px;
    width: 100%;
    padding-left: 30px;
  
    border-radius: 4px;
}
.mainAdmin__container--borderOut > input:focus{
	border: 0.5px solid #2981d8ec;

    outline: none;
}
input:-webkit-autofill,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	color: white;
	box-shadow: 0 0 0 30px #2c3e50ee inset !important;
    -webkit-text-fill-color: white !important;
   
}

.form-icon {
	position: absolute;
	left: 8px;
	top: 50%;
    font-size: 12px;
	color: #d15050;
	transform: translateY(-50%);
	font-weight: 200;
}


 

#photo {
	background-color: transparent;
	color: white;
	font-size: 10px;
}

.mainAdmin__submit {
	padding: 12px;
	background-color: #6486A9;
	border: 0;
	outline: 0;
	color: white;
	text-transform: uppercase;
	font-weight: 900;
	margin-top: 20px;
	border-radius:5px;
}

.mainAdmin__textarea{
	width: 100%;
}

.mainAdmin__textarea > label{
	display: block;
}

.mainAdmin__textarea > textarea {
	width: 100%;
	padding: 1rem;
	font-size: 18px;
	resize: none;
}

/* footer */

.footer {
	background-color: #1f2d3a;
	font-size: 14px;
	display: flex;
	justify-content: space-evenly;
	color: white;

	height: 50px;
}

.footer__copy {
	font-size: 10px;
	align-self: center;
	color: rgba(255, 255, 255, 0.5);
}

.footer__nav {
	display: flex;
	align-items: center;
}

.footer__links {
	display: flex;
}

.footer__links > li {
	padding: 5px;
}

/* admin update styles */

.mainAdmin__containerSearch > form {
	padding-top: 100px;
	width: 170px;
	margin: 0 auto;
}
.mainAdmin__containerSearch input,
.mainAdmin__containerSearch label {
	display: block;
	margin: 20px 0;
	color: black;
	font-weight: 900;
}

.mainAdmin__containerSearch button {
	padding: 5px;
	border: 0;
	outline: 0;
	background-color: #1f2d3a;
	color: white;
}


.mainAdmin__red{
	background-color: rgb(230, 31, 31);
margin: 0;
}

/* user active styles */




.header_userImage{
	 
	margin-left: 10px;
	 
}

.header_floatmenu{
	display: none;
}

.header_containerfloat{
	display: flex;
	align-items: center;
}
 





/* MEDIAS QUERIES */

@media (min-width: 680px) {
	/******  HEADER  *****/

	.header__navList>li>a:hover{
		color:#d15050 ;
	}

	.header__nav {
		width: 70%;
	}
	.header__navList {
		width: 100%;
		justify-content: space-evenly;
		font-size: 14px;
	}
	
	/* desplegable menu */

	.header_containerfloat {
		position: relative;
		z-index: 10;
	}
	.header_containerfloat a {
		display: block;
		color: #ff5252;

		width: 100%;
	}
	.header_floatmenu {
		font-size: 14px;
		font-weight: 700;
		position: absolute;
		display: none;
		background-color: #1f2d3a;
		padding: 10px;
		border-radius: 0 0 5px 5px;
		min-width: 300px;

	}
	.header_floatmenu-item {
		margin: 10px 0;
	}

	.header_containerfloat:hover .header_floatmenu {
		display: initial;
		animation: show 0.3s forwards ease;
		z-index: -1;
	}

	@keyframes show {
		from {
			 
			top: 0;
		}
		to {
			top: 50%;
			 
		}
	}


	/* ***********  MAIN ********* */

	 
	

	.mainAdmin__container > input {
		width: 100%;
	}

 
	.mainAdmin__container--borderOut > input{
		max-width: 100%;
	}

	.mainAdmin__subtitle {
		width: 100%;
		margin-left: 40px;
	}

	.mainAdmin__container--photo {
		width: 100%;
	}
	#photo {
		width: 100%;
		font-size: 15px;
	}
	.mainAdmin__submit {
		 
		font-size: 18px;
		max-height: 50px;
		cursor: pointer;
		margin: 20px;
	}

	/******  FOOTER  *****/

	.footer__nav {
		width: 70%;
	}

	.footer__links {
		width: 100%;
		justify-content: space-evenly;
		font-size: 16px;
	}
}

@media (min-width: 1000px) {
	.mainAdmin{
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		align-items: center;
	}

	.mainAdmin_personalImage, .mainAdmin_personalInfo {
		display: flex;
		flex-direction: column;
		width: 40%;
	}
	
	.mainAdmin_personalImage_form, .mainAdmin__form{
		display: flex;
		flex-direction: column;
		padding: 40px;
	}
}
