<%- include('partials/head')%> <%- include('partials/header')%>

<main class="mainAdmin">
	<h2 class="mainAdmin__title">Agregar nuevo proveedor</h2>

	<form action="" method="POST" class="mainAdmin__form" enctype="multipart/form-data">
		<h3 class="mainAdmin__subtitle">Datos personales</h3>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="name" class="mainAdmin__label">Nombre</label>
			<input autocomplete="new-name"  type="text" id="name" name="name" placeholder=" Nombre" />
		</div>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="lastname" class="mainAdmin__label">Apellido</label>
			<input autocomplete="new-lastname"  type="text" id="lastname" name="lastname" placeholder="Apellido" />
		</div>

		<h3 class="mainAdmin__subtitle">Contacto</h3>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="phone" class="mainAdmin__label">Celular</label>
			<input autocomplete="new-phone"  type="number" id="phone" name="phone" placeholder="Ingrese numero" />
		</div>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="email" class="mainAdmin__label ">Email</label>
			<input autocomplete="new-email"  type="text" id="email" name="email" placeholder="email@mail.com" />
		</div>

		<div class="mainAdmin__container">
			<label for="mainAdmin__select" class="mainAdmin__label">Categoria</label>
			<select class="mainAdmin_select" name="category" id="mainAdmin__select">
				<option value="Carpinteria">Servicios</option>

				<option value="1">Carpinteria</option>
				<option value="4">Cerrajeria</option>
				<option value="2">Plomeria</option>
				<option value="3">Pintura</option>
				<option value="6">Mecanica</option>
				<option value="7">Lavarropas</option>
				<option value="8">Acc</option>
			</select>
		</div>

		<div class="mainAdmin__blockCreated">
			<div class="mainAdmin__container">
				<label for="mainAdmin__select" class="mainAdmin__label">Localidad</label>
				<select class="mainAdmin_select" name="localidad" id="mainAdmin__select">
					<option value="Carpinteria">Servicios</option>
	
					<option value="Chubut">Chubut</option>
					<option value="Rawson">Rawson</option>
					<option value="Cordoba Capital">Cordoba Capital</option>
					<option value="La Plata">La Plata</option>
				</select>
			</div>
			
			<div class="mainAdmin__textarea">
				<label for="title" class="mainAdmin__label">Titulo</label>
				<input autocomplete="off"  type="text" id="title" name="title" placeholder="Titulo" />
				<label for="description">Descripcion</label>
				<textarea name="description" id="description" cols="30" rows="5" maxlength="200"></textarea>
			</div>
			<div class="mainAdmin__container mainAdmin__container--photo">
				<label for="photo" class="mainAdmin__label">Agrega foto</label>
				<input  class="photo" type="file" id="photo" name="image" placeholder="Apellido" />
			</div>
	
			<button class="mainAdmin__submit">Agregar</button>
		</div>
		<div id="article-container-form-regis-error">
		</div>
		<script src="/javascripts/createValidation.js"></script>

	</form>
</main>

<%-include('partials/footer')%>
