<%- include('partials/head')%> <%- include('partials/header')%>

<main class="mainAdmin">
	<!-- <div class="mainAdmin__containerSearch">
		<form action="" method="post">
			<label for="id">ID</label>
			<input type="number" />
			<button type="submit">BUSCAR</button>
		</form>
	</div> -->
	<h2 class="mainAdmin__title">Modificar Servicio</h2>

	<form action="" method="POST" class="mainAdmin__form op-02">
		<h3 class="mainAdmin__subtitle">Datos personales</h3>

		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="name" class="mainAdmin__label">Nombre</label>
			<input readonly type="text" id="name" name="name" placeholder=" Nombre" />
		</div>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="lastname" class="mainAdmin__label">Apellido</label>
			<input readonly type="text" id="lastname" name="name" placeholder="Apellido" />
		</div>

		<h3 class="mainAdmin__subtitle">Contacto</h3>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="phone" class="mainAdmin__label">Celular</label>
			<input readonly type="number" id="phone" name="phone" placeholder="Ingrese numero" />
		</div>
		<div class="mainAdmin__container mainAdmin__container--borderOut">
			<label for="email" class="mainAdmin__label">Email</label>
			<input readonly type="text" id="email" name="E-mail" placeholder="email@mail.com" />
		</div>
		<div class="mainAdmin__container">
			<label for="mainAdmin__select" class="mainAdmin__label">Categoria</label>
			<select class="mainAdmin_select" name="categories" id="mainAdmin__select">
				<option value="Carpinteria">Servicios</option>

				<option value="Carpinteria">Carpinteria</option>
				<option value="Cerrajeria">Cerrajeria</option>
				<option value="Plomeria">Plomeria</option>
				<option value="Pintura">Pintura</option>
				<option value="Mecanica">Mecanica</option>
				<option value="Aires">Aires</option>
				<option value="Heladeras">Heladeras</option>
			</select>
		</div>

		<div class="mainAdmin__container">
			<label for="mainAdmin__select" class="mainAdmin__label">Localidad</label>
			<select class="mainAdmin_select" name="location" id="mainAdmin__select">
				<option value="Carpinteria">Servicios</option>

				<option value="Carpinteria">Chubut</option>
				<option value="Cerrajeria">Rawson</option>
				<option value="Plomeria">Cordoba Capital</option>
				<option value="Pintura">La Plata</option>
			</select>
		</div>

		<div class="mainAdmin__container mainAdmin__container--photo">
			<label for="photo" class="mainAdmin__label">Agrega foto</label>
			<input readonly class="photo" type="file" id="photo" name="photo" placeholder="Apellido" />
		</div>

		<button class="mainAdmin__submit">Modificar</button>
	</form>
</main>

<%-include('partials/footer')%>
