<%- include('partials/head')%> <%- include('partials/header')%>

<main class="mainAdmin">
	 <div class="mainAdminContainerForm">

		<form action="/products/edit" method="POST">

			<div class="mainAdmin__container mainAdmin__container--borderOut">
				<label for="name" class="mainAdmin__label">Buscar</label>
				<input   type="text" id="name" name="lastname" placeholder=" Apellido" value=""/>
				<button class="mainAdminContainerForm__button">Ir</button>
			</div>
		</form>
	 </div>
	
</main>

<%-include('partials/footer')%>
