<%- include('partials/head')%> <%- include('partials/header')%>


  <div class="errorcontainer">
      
    
    <img src="/images/error.png" alt="" class="error404"/>
    
  </div>
  <%-include('partials/footer')%>
