<%- include('partials/head',{title})%> 
<%- include('partials/header')%>


<main>
    <div class="title">
        <h1>Preguntas frecuentes</h1>
        <p>Obtené respuestas</p>
    </div>
    <div class="container">
        <div class="container-title">
            <p class="title-question">Pregunta1</p>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="answer">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, corporis? Nihil quibusdam nemo exercitationem sapiente dolorum aliquam itaque corporis a eius nam ex repudiandae facilis voluptates provident unde obcaecati labore eum, voluptatum distinctio voluptatibus alias. Beatae aliquid aspernatur voluptas optio! Ex suscipit quas mollitia corporis ad aspernatur.</h4>
            <ul>
                <li>
                    <p> - Lorem, ipsum dolor.</p>
                    <p> - Lorem, ipsum dolor. </p>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="container">
        <div class="container-title">
            <p class="title-question">Pregunta2</p>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="answer">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, corporis? Nihil quibusdam nemo exercitationem sapiente dolorum aliquam itaque corporis a eius nam ex repudiandae facilis voluptates provident unde obcaecati labore eum, voluptatum distinctio voluptatibus alias. Beatae aliquid aspernatur voluptas optio! Ex suscipit quas mollitia corporis ad aspernatur iure cumque.</h>
            <ul>
                <li>
                    <p> - Lorem, ipsum dolor.</p>
                    <p> - Lorem, ipsum dolor. </p>
                    <p> - Lorem </p>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="container">
        <div class="container-title">
            <p class="title-question">Pregunta3</p>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="answer">
            <h4>Lorem ipsum dolor sit amet consectetur adipisicing elit. Enim, corporis? Nihil quibusdam nemo exercitationem sapiente dolorum aliquam itaque corporis a eius nam ex repudiandae facilis voluptates provident unde obcaecati labore eum, voluptatum distinctio voluptatibus alias. Beatae aliquid, consequatur fuga omnis harum, ullam nemo at illum perspiciatis ea in officiis reprehenderit dignissimos dolor praesentium.</h4>
            <ul>
                <li>
                    <p> - Lorem, ipsum dolor.</p>
                </li>
            </ul>
        </div>
        
    </div>

    
</main>

<%-include('partials/footer')%>