<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/login.css">
    <title>Document</title>
    <link
    href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
    rel="stylesheet"
/>
<link rel="icon" href="images/logoAzvi.png">
<title>Azvi</title>
</head>
<body>
    <header class="header">
        <div class="header__logoContainer">
          <img src="images/logoAzvi.png" alt="" class="logoContainer__img">
          <div class="logoContainer__searchTitle">
            <h3 class="searchTitle__title">AZVI</h3>
            <img src="images/searchicon.svg" alt="" class="searchTitle__icon">
            <input class="searchTitle__input" type="search" name="localidad" id="localidad" placeholder="Localidad">
          </div>
        </div>
        <nav class="header__nav">
          <ul class="header__navList">
            <li><a href="index">Inicio</a></li>
            <li><a href="login.html">Mi cuenta</a></li>
            <li><a href="productCart.html">Unite a la red</a></li>
          </ul>
        </nav>
    
      </header>
     
      <main class="article-container-main">
        <div class="article-container-titulo">Ingresa</div>
      
      <div class="article-container-informacion">
      
        <input class="article-container-input" type="Usuario" placeholder="Nombre de Usuario">
        <input class="article-container-input" type="Password" placeholder="Contraseña">
        
      </div>
      
      <button class="container-button">Ingresa</button>
      
      </main>

      <footer class="footer">
        <p class="footer__copy">Copyright © AZVI </p>
        <nav class="footer__nav">
          <ol class="footer__links" >
            <li><a>Contacto</a></li>
            <li><a>Preguntas Frecuentes</a></li>
          </ol>
        </nav>
    
      </footer>

  
</body>
</html>