<%- include('partials/head')%> <%- include('partials/header')%>

<main class="article-container-main">
	<div class="article-container-titulo">Ingresa</div>

	<div class="article-container-informacion">
		<input class="article-container-input" type="Usuario" placeholder="Nombre de Usuario" />
		<input class="article-container-input" type="Password" placeholder="Contraseña" />
	</div>

	<button class="container-button">Ingresa</button>

	<div>
		<h3 class="article-container-h3">
			¿No tenes cuenta? Click <a class="article-container-a" href="register">acá</a> para registrarte
		</h3>
	</div>
</main>

<%-include('partials/footer')%>
