<%- include('partials/head')%> <%- include('partials/header')%>

<main class="container">
	<div class="container-lender">
		<div class="container-lender-general">
			<a href="http://localhost:3000/" class="container-lender-general-link">SERVICIOS </a>
			<p class="container-lender-general-text">>></p>
			<a href="http://localhost:3000/lenderList" class="container-lender-general-link">PLOMERIA</a>
		</div>
		<br />
		<div class="container-lender-detail">
			<img src="images/categories/plumber.svg" alt="Plomero" class="container-lender-detail-photo" />
			<p class="container-lender-detail-text">LUIS GARCIA -Plomeria general</p>
		</div>
	</div>
	<div class="container-service">
    <div class="service-text">
      <h3 class="container-service-title">Trabajo minimo plomeria</h3>
      <p class="container-service-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur soluta!amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi 
      </p>
    </div>
    <div class="service-buttons">
      <button type="button" class="container-service-button">$1000-$1500</button>
      <button type="button" class="container-service-button-two">ADQUIRIR</button>
    </div>
    
	</div>
	<div class="container-service">
		<div class="service-text">
      <h3 class="container-service-title">Trabajo medio plomeria</h3>
      <p class="container-service-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur soluta!amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur soluta
      </p>
    </div>
    <div class="service-buttons">
      <button type="button" class="container-service-button">$1500-$2000</button>
      <button type="button" class="container-service-button-two">ADQUIRIR</button>
    </div>
	</div>
	<div class="container-service">
		<div class="service-text">
      <h3 class="container-service-title">Trabajo mayor plomeria</h3>
      <p class="container-service-text">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur soluta!amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur solutaamet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
        nisi accusamus natus pariatur soluta
      </p>
    </div>
    <div class="service-buttons">
      <button type="button" class="container-service-button">$2000-$2500</button>
      <button type="button" class="container-service-button-two">ADQUIRIR</button>
    </div>
	</div>
	<div class="container-opinions">
		<h2>Ultimas calificaciones</h2>
	</div>

	<div class="container-opinions-chat">
		<div class="opinions"><textarea class="textarea" name="text" id="text" cols="40" rows="5" placeholder="Muy buen servicio"></textarea></div>
    <div class="opinions"><textarea class="textarea" name="text" id="text" cols="40" rows="5" placeholder="Muy conforme con Luis"></textarea></div>
    <div class="opinions"><textarea class="textarea" name="text" id="text" cols="40" rows="5" placeholder="Llego un poco tarde pero muy buen precio calidad"></textarea></div>
    <div class="opinions"><textarea class="textarea" name="text" id="text" cols="40" rows="5" placeholder="Excelente servicio"></textarea></div>
	</div>
</main>
<%-include('partials/footer')%>
