<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="/styles/productos.css">
    <link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
    />
    
    <link rel="icon" href="images/logoAzvi.png">
    <title>Detalle de productos</title>
</head>
<body>
    <header class="header">
        <div class="header__logoContainer">
          <img src="images/logoAzvi.png" alt="" class="logoContainer__img">
          <div class="logoContainer__searchTitle">
            <h3 class="searchTitle__title">AZVI</h3>
            <img src="images/searchicon.svg" alt="" class="searchTitle__icon">
            <input class="searchTitle__input" type="search" name="localidad" id="localidad" placeholder="Localidad">
          </div>
        </div>
        <nav class="header__nav">
          <ul class="header__navList">
            <li><a href="index">Inicio</a></li>
            <li><a href="login">Mi cuenta</a></li>
            <li><a href="productCart">Unite a la red</a></li>
          </ul>
        </nav>
    
      </header>

      <main class="container">
        
        <div class="container-lender">
          <div class="container-lender-general"><a href="http://localhost:3000/" class="container-lender-general-link">SERVICIOS </a><p class="container-lender-general-text" >  >></p> <a href="http://localhost:3000/lenderList" class="container-lender-general-link">PLOMERIA</a></div>
          <br>
          <div class="container-lender-detail">
            
              <img src="images/categories/plumber.svg" alt="Plomero" class="container-lender-detail-photo">
              <p class="container-lender-detail-text">LUIS GARCIA - Plomeria general</p>
            
          </div>
        </div>
        <div class="container-service">
          <div class="container-service-lender">
            <h3 class="container-service-title">Trabajo minimo plomeria</h3>
            <p class="container-service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi accusamus natus pariatur soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi </p>
          </div>
          
          <div class="buttons"><button type="button" class="container-service-button" > $1000-$1500 </button><button type="button" class="container-service-button-two" > ADQUIRIR </button></div>

        </div>
        <div class="container-service">

          <div class="container-service-lender">
            <h3 class="container-service-title">Trabajo medio plomeria</h3>
            <p class="container-service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi accusamus natus pariatur soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi </p>
          </div>
          <div class="buttons"><button type="button" class="container-service-button" > $1500-$2000 </button><button type="button" class="container-service-button-two" > ADQUIRIR </button></div>

        </div>
        <div class="container-service">

          <div class="container-service-lender">
            <h3 class="container-service-title">Trabajo mayor plomeria</h3>
            <p class="container-service-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi accusamus natus pariatur soluta! Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi  Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur nisi </p>
          </div>
          <div class="buttons"><button type="button" class="container-service-button" > $2000-$2500 </button><button type="button" class="container-service-button-two" > ADQUIRIR </button></div>

        </div>
        <div class="container-opinions">
          <h2>Ultimas calificaciones</h2>
         
        </div>
        
        <div class="container-opinions-chat">
          <div class="container-caja-comentario"> <textarea class="caja-comentario" name="comentario" id=" " cols="40" rows="5" placeholder="Muy buen trabajo"></textarea></div>
          <div class="container-caja-comentario"> <textarea class="caja-comentario" name="comentario" id=" " cols="40" rows="5" placeholder="Llego en tiempo y fue un trabajo muy rapido"></textarea></div>
          <div class="container-caja-comentario"> <textarea class="caja-comentario" name="comentario" id=" " cols="40" rows="5" placeholder="Muy contenta con el servicio"></textarea></div>
          <div class="container-caja-comentario"> <textarea class="caja-comentario" name="comentario" id=" " cols="40" rows="5" placeholder="Totalmente recomendable, muy gentil el señor"></textarea></div>
        </div>

      </main>

      <footer class="footer">
        <p class="footer__copy">Copyright © AZVI </p>
        <nav class="footer__nav">
          <ol class="footer__links" >
            <li><a>Contacto</a></li>
            <li><a>Preguntas Frecuentes</a></li>
          </ol>
        </nav>
    
      </footer>
    
</body>
</html>