<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="styles/productCart.css">
    <link
			href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
			rel="stylesheet"
    />
    <link rel="icon" href="images/logoAzvi.png">
    <title>Azvi</title>
</head>

<body>

    <header class="header">
      <div class="header__logoContainer">
        <img src="images/logoAzvi.png" alt="" class="logoContainer__img">
        <div class="logoContainer__searchTitle">
          <h3 class="searchTitle__title">AZVI</h3>
          <img src="images/searchicon.svg" alt="" class="searchTitle__icon">
          <input class="searchTitle__input" type="search" name="localidad" id="localidad" placeholder="Localidad">
        </div>
      </div>
      <nav class="header__nav">
        <ul class="header__navList">
          <li><a href="index">Inicio</a></li>
          <li><a href="login.html">Mi cuenta</a></li>
          <li><a href="productCart.html">Unite a la red</a></li>
        </ul>
      </nav>
  
    </header>

    <main class="main">
      <div class="main__container">
        <h1 class="main__title"> Brinda tu servicio y unite a la red de proveedores:</h1>
      </div>

      <section class="categories"> 
        <div class="categories__container__text">
            <article class="categories__subscriptions">
              <h2 class="categories__subscriptions__subtitle">Plan basico:</h2>
              <p class="categories__subscriptions__text">Mediante este plan podrás anunciar tu servicio en nuestra web, contactarte con tus clientes y ser calificado al terminar un trabajo.</p>
            </article>
            <article class="categories__subscriptions">
              <h2 class="categories__subscriptions__subtitle">Plan intermedio:</h2>
              <p class="categories__subscriptions__text">Ademas de lo mencionado en el plan basico, podrás destacar tus anuncios y así poder llegar a mas clientes.
              </p>
            </article>
            <article class="categories__subscriptions">
              <h2 class="categories__subscriptions__subtitle">Plan premium:</h2>
              <p class="categories__subscriptions__text">Contaras con un posicionamiento destacado en las busquedas y con nuestra ayuda al momento de crear los anuncios para cada servicio, ademas contaras con publicaciones ilimitadas.</p>
            </article>
        </div>
        <div class="categories__container__button">
          <button class="categories__container__button_sel">Seleccionar</button>
          <button class="categories__container__button_sel">Seleccionar</button>
          <button class="categories__container__button_sel">Seleccionar</button>
        </div>
      </section>

      <div class="payment">
        <h2 class="payment__subtitle">Una vez seleccionado el plan, clic acá para continuar con el pago.</h2>
        <div class="payment_logo">
          <img src="images/card.svg" alt="">
        </div>
      </div>
    </main>
    
    <footer class="footer">
        <p class="footer__copy">Copyright © AZVI </p>
        <nav class="footer__nav">
          <ol class="footer__links" >
            <li><a>Contacto</a></li>
            <li><a>Preguntas Frecuentes</a></li>
          </ol>
        </nav>
    
      </footer>
      
    </body>
    </html>