<%- include('partials/head',{title})%> <%- include('partials/header')%>

<main class="main">
	<div class="main__container">
		<h1 class="main__title">Brinda tu servicio y unite a la red de proveedores:</h1>
	</div>

	<section class="categories">
		<div class="categories__container__text">
			<article class="categories__subscriptions">
				<img src="/images/pCart_1.svg" alt="" class="img_plan" />
				<h2 class="categories__subscriptions__subtitle">Plan basico</h2>
				<p class="categories__subscriptions__text">
					Mediante este plan podrás anunciar tu servicio en nuestra web, contactarte con tus clientes y ser
					calificado al terminar un trabajo.
				</p>
				<p class="categories__subscriptions__text__desde"><strong>Desde</strong></p>
				<p class="categories__subscriptions__text__precio"><strong>$450</strong></p>
				<p class="categories__subscriptions__text__porMes"><strong>por mes</strong></p>
				<form action="productCart" method="POST">
					<input type="hidden" name="price" value="450">
					<button type="submit" name="plan" value="Basico" class="button_plan">Unite</button>
				</form>
			</article>

			<article class="categories__subscriptions">
				<img src="/images/pCart_2.svg" alt="" class="img_plan" />
				<h2 class="categories__subscriptions__subtitle">Plan intermedio</h2>
				<p class="categories__subscriptions__text">
					Ademas de lo mencionado en el plan basico, podrás destacar tus anuncios y así poder llegar a mas
					clientes.
				</p>
				<p class="categories__subscriptions__text__desde"><strong>Desde</strong></p>
				<p class="categories__subscriptions__text__precio"><strong>$850</strong></p>
				<p class="categories__subscriptions__text__porMes"><strong>por mes</strong></p>
				<form action="productCart" method="POST">
					<input type="hidden" name="price" value="850">
					<button type="submit" name="plan" value="Intermedio" class="button_plan">Unite</button>
				</form>
			</article>
			<article class="categories__subscriptions">
				<img src="/images/pCart_3.svg" alt="" class="img_plan" />
				<h2 class="categories__subscriptions__subtitle">Plan premium</h2>
				<p class="categories__subscriptions__text">
					Contaras con un posicionamiento destacado en las busquedas y con nuestra ayuda al momento de crear
					los anuncios para cada servicio, ademas contaras con publicaciones ilimitadas.
				</p>
				<p class="categories__subscriptions__text__desde"><strong>Desde</strong></p>
				<p class="categories__subscriptions__text__precio"><strong>$1.150</strong></p>
				<p class="categories__subscriptions__text__porMes"><strong>por mes</strong></p>
				<form action="productCart" method="POST">
					<input type="hidden" name="price" value="1150">
					<button type="submit" name="plan" value="Premium" class="button_plan">Unite</button>
				</form>
			</article>
		</div>
	</section>
</main>

<%-include('partials/footer')%>
