<%- include('partials/head')%> <%- include('partials/header')%>

<main class="container">
	<div class="container-lender">
		<div class="container-lender-general">
			<a href="http://localhost:3000/" class="container-lender-general-link">SERVICIOS </a>
			<p class="container-lender-general-text">>></p>
			<a href="http://localhost:3000/lenderList" class="container-lender-general-link">PLOMERIA</a>
		</div>
		<br />
		<div class="container-lender-detail">
			<img src="images/categories/plumber.svg" alt="Plomero" class="container-lender-detail-photo" />
			<p class="container-lender-detail-text">LUIS GARCIA -Plomeria general</p>
		</div>
	</div>
	<div class="container-service">
		<h3 class="container-service-title">Trabajo minimo plomeria</h3>
		<p class="container-service-text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
			nisi accusamus natus pariatur soluta!
		</p>
		<button type="button" class="container-service-button">$1000-$1500</button
		><button type="button" class="container-service-button-two">ADQUIRIR</button>
	</div>
	<div class="container-service">
		<h3 class="container-service-title">Trabajo medio plomeria</h3>
		<p class="container-service-text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
			nisi accusamus natus pariatur soluta!
		</p>
		<button type="button" class="container-service-button">$1500-$2000</button
		><button type="button" class="container-service-button-two">ADQUIRIR</button>
	</div>
	<div class="container-service">
		<h3 class="container-service-title">Trabajo maximo plomeria</h3>
		<p class="container-service-text">
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci esse minima eveniet tenetur! Consequuntur
			nisi accusamus natus pariatur soluta!
		</p>
		<button type="button" class="container-service-button">$2000-$2500</button
		><button type="button" class="container-service-button-two">ADQUIRIR</button>
	</div>
	<div class="container-opinions">
		<h2>Ultimas calificaciones</h2>
	</div>

	<div class="container-opinions-chat">
		<img src="/images/chat.3.svg" alt="chat" />
	</div>
</main>
<%-include('partials/footer')%>
