<%- include('partials/head')%> <%- include('partials/header')%>

<main class="article-container-main">
	

	<div class="article-container-informacion">
		<div class="article-container-titulo">Registrate</div>
		<form class="article-container-form" action="/register" method="POST">
			<input class="article-container-input" type="email" name="email" placeholder="Dirección de E-mail" />
			<input class="article-container-input" type="password" name="pass" placeholder="Contraseña" />
			<input class="article-container-input" type="text" name="name" placeholder="Nombre" />
			<input class="article-container-input" type="text" name="lastname" placeholder="Apellido" />
			<input class="article-container-input" type="text" name="city" placeholder="Localidad" />
			<button type="submit" class="container-button">Registrar</button>
			<%if(typeof mensaje=="string") {%>
				<p class="article-container-form-text"><%=mensaje%></p>
			<%}%>
		</form>

	</div>

	
</main>
<%-include('partials/footer')%>
