<footer class="footer">
    <p class="footer__copy">Copyright © AZVI </p>
    <nav class="footer__nav">
      <ol class="footer__links" >
        <li><a>Contacto</a></li>
        <li><a href="/help" >Preguntas Frecuentes</a></li>
      </ol>
    </nav>

  </footer>
  
</body>
</html>