<header class="header">
	<div class="header__logoContainer">
		<a href="/"> <img src="/images/logoAzvi.png" alt="" class="logoContainer__img" /></a>
		<div class="logoContainer__searchTitle">
			<h3 class="searchTitle__title">AZVI</h3>
			<img src="/images/searchicon.svg" alt="" class="searchTitle__icon" />
			<input class="searchTitle__input" type="search" name="localidad" id="localidad" placeholder="Localidad" />
		</div>
	</div>
	<nav class="header__nav">
		<ul class="header__navList">
			<li><a href="/">Inicio</a></li>
			<li><a href="/users/login">Mi cuenta</a></li>
			<li><a href="/products/productCart">Unite a la red</a></li>
			<% if(locals.userLog) {%>
			<li class="header_containerfloat">
				<a href="#" class=""><%=userLog.name %></a>
				<img class="header_userImage" width="35px" src="/images/users/<%=userLog.image%>" alt="" />
				<div class="header_floatmenu">
					<% if(userLog.role=='admin') {%>
					<a class="header_floatmenu-item" href="/products/create">Añadir Servicio</a>
					<a class="header_floatmenu-item" href="/products/edit">Modificar Servicio</a>
					<a class="header_floatmenu-item" href="/products/contact"
						>Mensages
						<i
							class="header_message"
							style="
								padding: 5px;
								border-radius: 3px;
								color: white;
								background-color: #ff5252;
								margin-left: 5px;
								display: inline-block;
								text-align: center;
								font-size: 12px;
							"
							><%=userLog.messages%>
						</i></a
					>

					<% }else{%>

						<a class="header_floatmenu-item" href="/users/shopping">Mis Compras</a>


					<% }%>
					<a class="header_floatmenu-item" href="/users/data">Mis datos</a>

					<a class="header_floatmenu-item" href="/logout">Cerrar sesion</a>
				</div>
			</li>
			<% } %>
		</ul>
	</nav>
</header>
