<header class="header">
	<div class="header__logoContainer">
		<img src="/images/logoAzvi.png" alt="" class="logoContainer__img" />
		<div class="logoContainer__searchTitle">
			<h3 class="searchTitle__title">AZVI</h3>
			<img src="/images/searchicon.svg" alt="" class="searchTitle__icon" />
			<input class="searchTitle__input" type="search" name="localidad" id="localidad" placeholder="Localidad" />
		</div>
	</div>
	<nav class="header__nav">
		<ul class="header__navList">
			<li><a href="/">Inicio</a></li>
			<li><a href="/login">Mi cuenta</a></li>
			<li><a href="/productCart">Unite a la red</a></li>
		</ul>
	</nav>
</header>
