/* estilos generales

-------------primarios------------
- backgound header/footer #1F2D3A 
- backgound body #2C3E50 

-------------secundarios------------
-botones #3F549D
-card producto/servicio background #FF5252



tipografia 
-sacar link de index.html, ya tiene las fuentes importadas de google fonts


    font-family: 'Roboto', sans-serif;
    
    color: #ffffff white

    font-size : h2 h3 16px
    font-size : p a li nav  14px


*/
 