*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    list-style: none;
    text-decoration: none;
}



/* HEADER */

.header{
    background-color: #1F2D3A ;
    color: white;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.header__logoContainer{
    display: flex;
    width: 40%;
    align-items: center;
}

.logoContainer__img{
    width: 40px;
    height: 30px;
     
}

.searchTitle__title{
    margin-left: 5px;
}

.searchTitle__icon{
    width: 10px;

}

.searchTitle__input{
    width: 80%;
    border: none;
    outline: none;
    background-color: transparent;
    color: white;
    font-size: 10px;
}
.searchTitle__input::placeholder{
    font-size: 12px;
}


.searchTitle__input:focus{
    font-size: 12px;
    
}




.header__nav{
    display: flex;
    align-items: center;
}


.header__navList{
    display: flex;
    font-size: 12px;
      
}

 

.header__navList > li {
    padding: 5px;
     
   
}

.header__navList > li > a {
    color: white;
}  

/*main*/

.article-container-main{
    background-color: #1F2D3A ;
    padding: 30px;
}

/*Parte de los recuadros*/
.article-container-titulo{
    background-color: #1F2D3A ;
    color: white;
    font-weight: lighter;
    
}

.article-container-informacion{
    background-color: #1F2D3A ;
}

.article-container-input{
    width: 100%;
    margin: 10px 0px;
    padding: 5%;
    /*Primer valor: Grueso del borde, segundo valor: el tipo de borde, el tercer valor: color*/
    border: 3px solid black
}


/* BUTTON */

.container-button{
    width: 100%;
    background-color: black;
    color: white;
    /*sirve para transformar el texto*/
    text-transform: uppercase;
    padding: 5%;
    border-radius: 7px;
}

/* footer */

.footer{
    background-color: #1F2D3A;
    font-size: 14px;
    display: flex;
    justify-content: space-evenly;
    color: white;
    
    height: 50px;
}

.footer__copy{
    font-size: 10px;
    align-self: center;
    color: rgba(255, 255, 255,0.5);
}

.footer__nav{
    display: flex;
    align-items: center;
}

 

.footer__links{
    display: flex;
     
}

.footer__links > li{
    padding: 5px;
}






