<%- include('../partials/head')%> <%- include('../partials/header')%>



<main>
    <div class="title">
        <h1>Preguntas frecuentes</h1>
        <p>Obtené respuestas</p>
    </div>
    <div class="container">
        <div class="container-title">
            <p class="title-question">Que es Azvi ?</p>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="answer">
            <h4>Azvi te ofrece todas las opciones de servicios de hogar , en nuestra plataforma podras encontrar desde carpinteria general , reparaciones varias, hasta mecanica y refrigeracion, solo tenes que buscar en nuestra lista de proveedores  y ponerte en contacto con tu proxima SOLUCION!</h4>
            <ul>
                <li>
                    <p> - Seguridad : en azvi todos nuestros proveedores estan chequeados por su identidad</p>
                    <p> - Historial :  vas a poder contar con un historial de servicios para que tengas tu provedor preferido al alcance de tu mano </p>
                </li>
            </ul>
        </div>
        
    </div>
    <div class="container">
        <div class="container-title">
            <p class="title-question">Cuanto salen los servicios ?</p>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="answer">
            <h4>Azvi te cobra solo un precio minimo sugerido  , vos arreglas con tu proveedor el precio total de tu reparacion o trabajo </h>
             
        </div>
        
    </div>
    <div class="container">
        <div class="container-title">
            <p class="title-question">Soy proovedor , como puedo promocionar mi servicio?</p>
            <i class="fas fa-arrow-down"></i>
        </div>
        <div class="answer">
            <h4>Si sos proveedor en AZVI  contamos con 3 planes de subscription para que puedan aparecer tus servicios en nuestra pagina, entra <a href="/products/productCart" style="font-size: 14px;  color: tomato; text-decoration: underline;">ACA</a> dejanos tus datos y nosotros nos contactamos con vos para validar tus datos, una vez confirmado el pago tu servicio aparecera en AZVI 😎</h4>
             
        </div>
        
    </div>

    
</main>

<%-include('../partials/footer')%>
