<%- include('../partials/head')%> <%- include('../partials/header')%>


<main class="article-container-main">
	 
	 
	<%if(typeof mensaje=="string") {%>
		<p class="article-container-form-regis"><i class="fas fa-exclamation-triangle" style="color:rgb(199, 199, 26);"> </i>  <%=mensaje%></p>
		<%}%>
		<p class="article-container-form-regis" id="article-container-form-regis-error"></p>
		<form class="article-container-form" action="/users/login" method="POST" >
			<div class="form-container-input"><input class="containerForm__input" name="email" type="Usuario" placeholder="Email" id="email" /><i class="form-icon far fa-envelope"></i></div>
			<div class="form-container-input"><input class="containerForm__input"  name="password" type="Password" placeholder="Contraseña" id="pass" />
				<i class="form-icon fas fa-unlock-alt"></i><i class="form-icon form-icon-password fas fa-eye-slash"></i></div>

			<div class="form-container-remember">
				<input class="containerForm__check" type="checkbox" name="remember" value="true"><label class="form-label" for="remember">Recordame</label>
				
			</div>
			<button class="container-button">Iniciar Sesion</button>


		</form>
		<div class="containerData__register">
			<h3 class="article-container-h3">
				 <a class="article-container-a" href="/register">¿No tenes cuenta? Click <p class="article-container-p">ACÁ</p> para registrarte</a> 
			</h3>
		</div>
	 
</main>

 
 
<script src="/javascripts/logValidations.js"></script>
</body>
</html>